<mat-toolbar color="primary">
    <div class="top-bar"></div>
    <span><img src="" alt="bnalogo" class="logo"></span>
    <div class="nav-icon">
      <a mat-icon-button href="">
        <mat-icon class="mat-18">house</mat-icon>
      </a>
      <a mat-icon-button href="">
        <mat-icon class="mat-18">search</mat-icon>
      </a>
      <a mat-icon-button href="">
        <mat-icon class="mat-18">house</mat-icon>
      </a>
      <a mat-icon-button href="">
        <mat-icon class="mat-18">house</mat-icon>
      </a>
      <a mat-icon-button href="">
        <mat-icon class="mat-18">house</mat-icon>
      </a>
      <a mat-icon-button href="">
        <mat-icon class="mat-18">house</mat-icon>
      </a>
      <a mat-icon-button href="">
        <mat-icon class="mat-18">house</mat-icon>
      </a>
      <a mat-icon-button href="">
        <mat-icon class="mat-18">house</mat-icon>
      </a>
    </div>
    <div class="matricule">
      <span>Matricule:9954</span>
    </div>
    <div class="agence">
      <span>Agence:120</span>
    </div>
    <div class="dates">
      <p>Date Comptabel: {{ day_comp | date: 'dd/MM/yyyy' }}<br>
         Date du jour: {{ today | date: 'dd/MM/yyyy' }}<br>
      </p>
    </div>
  </mat-toolbar>
  